A {
  color: red;
  background-color: inherit;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

html {
  font: 14px verdana, sans-serif;
  color: black;
  background: gray;
  margin: 0px;
  overflow: visible;
}

body {
  margin: 0px;
  padding: 0px;
  background: gray;
  color: black;
  overflow: visible;
}

div.main {
  background: white;
  color: black;
  margin: 1rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@media (min-width: 60rem) {
  div.main {
    position: absolute;
    top: 1rem;
    left: 0px;
    width: 100%;
    bottom: 1rem;
    min-height: 80%;
    background: white;
    color: black;
    overflow: auto;
  }
}

div.logo {
  text-align: right;
  background: black;
  color: black;

  img {
    max-width: 100%;
    height: auto;
  }
}

div.memberlist {
  text-align: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
  }

  li {
    display: inline;
  }

  li:not(:last-child)::after,
  li:not(:last-child)::after {
      content: " :: ";
  }
}

nav {
  border-bottom: 1px solid black;
  text-align: center;
}

main {
  margin: 1rem;
}
